{% extends 'base.html.twig' %}

{% block title %}BE | vérification Excel{% endblock %}

{% block content %}
    <div class="input-file-container">
        <div class="input-field col s12 m12 l12">
            <form method="get" action="synoptiqueGenere.dxf">
                <button class="btnDownload" type="submit">Telecharger fichier DXF</button>
            </form>
        </div>
    </div>
{% endblock %}

